---
import Layout from '../layouts/Layout.astro';
import LoginForm from '../components/auth/LoginForm.svelte';

---

<Layout>
	<div class="container mx-auto">
		<h1>Login</h1>
		<LoginForm client:load />
	</div>
</Layout>
