---
import NavbarAuth from './auth/NavbarAuth.svelte';
import { links, authLinks } from '../config/navbar';
export const prerender = false;
---

<nav class="container mx-auto sm:h-10" transition:persist>
	<div class="flex h-full flex-col justify-between gap-2 sm:flex-row">
		<ul class="flex h-full flex-col justify-between gap-2 text-center sm:flex-row">
			{
				links.map((link) => (
					<li class="flex-1">
						<a href={link.href} class="grid h-full place-items-center">
							<span>{link.label}</span>
						</a>
					</li>
				))
			}
		</ul>

		<NavbarAuth client:load>
			{
				authLinks.map((link) => (
					<a href={link.href} class="grid h-full place-items-center">
						<span>{link.label}</span>
					</a>
				))
			}
		</NavbarAuth>
	</div>
</nav>
