---
import NavbarAuth from './auth/NavbarAuth.svelte';
import { links, authLinks } from '../../config/navbar';
import { isPocketBaseTokenValid } from '../../lib/auth';
import BaseNavbar from './Base.astro';
---

<BaseNavbar>
	<ul class="flex h-full flex-col justify-between gap-2 text-center sm:flex-row">
		{
			links.map((link) => (
				<li class="flex-1">
					<a href={link.href} class="grid h-full place-items-center">
						<span>{link.label}</span>
					</a>
				</li>
			))
		}
	</ul>
</BaseNavbar>
